body
{
    background-image: url("https://cdn.brandfolder.io/EVFU9RD7/at/q86e1k-8tnmvc-1gipaz/Topography_-_Zoom_Background.jpg");
}

thead,
tbody,
h1,
.forms-wrapper {
    color: #ffffff;
}

.vertical-item {
    align-self: center;
}

.forms-wrapper {
    display: flex;
    justify-content: space-between;
}
.forms-wrapper > div {
    margin: 0 0 0 10px;
    padding-right: 10px;
    border-right: 1px solid #ffffff;
}
.forms-wrapper > div:last-child {
    border: none;
}

form {
    color: #ffffff;
}